<section class="acces localisation text-center">
  <div class="container-fluid">
    <h2>{{datas.title}}</h2>
    <p class="lead constrain-width" [innerHTML]="datas.srt"></p>
    <div class="divider">
    </div>
    <a class="btn btn-outline-secondary" role="button" (click)='toggleMap()'>{{showMap?datas.btnMapF :datas.btnMapO}}</a>
      <div class="row mt-5 no-gutters" *ngIf='!showMap'>
        <div class="col-lg-12 loc-item1">
        </div>
        <div class="col-lg-6 loc-item2">
        </div>
        <div class="col-lg-6 loc-item3">
        </div>
      </div>
    <div class="map" *ngIf='showMap'>
      <!-- angular google maps -->
      <map-broissieux></map-broissieux>
    </div>
  </div>
</section>
