<section class="gite-gallery text-center">
  <div class="container-fluid gallery">
    <h2>Le jardin, la rambarde et le parking</h2>
    <p class="lead">
      Orientée sud, elle offre une vue sur le Colombier et la vallée qui donne sur les pistes de ski de Margeriaz ou des Aillons.<br />La chambre enfants est équipée de 3 couchages
    </p>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-gallery" *ngFor="let p of pictures; let i = index">
        <img class="img-fluid rounded-corners" src={{p.img}} *ngIf='!p.imgWinterView ||(p.imgWinterView && !isWinter)'>
        <img class="img-fluid rounded-corners" src={{p.imgWinterView}} *ngIf='p.imgWinterView && isWinter'>
        <h4 class="mt-4">{{p.title}}</h4>
        <p *ngIf="p.comment">{{p.comment}}</p>
      </div>
    </div>
  </div>
</section>
