<section class="gite-gallery sc-gallery text-center">
  <div class="container-fluid gallery">
    <h2>{{datas.title}}</h2>
    <p class="lead"  [innerHTML]="datas.srt"></p>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-gallery" *ngFor="let p of pictures; let i = index">
        <img class="img-fluid rounded-corners" src={{p.img}} *ngIf='!p.outsideViewEnabled'>
        <img class="img-fluid rounded-corners" src={{p.w_imgWinterView}} *ngIf='p.w_imgWinterView && p.outsideViewEnabled && isWinter'>
        <img class="img-fluid rounded-corners" src={{p.w_imgSummerView}} *ngIf='p.w_imgSummerView && p.outsideViewEnabled && !isWinter'>
        <img class="img-fluid rounded-corners" src={{p.d_imgWinterView}} *ngIf='p.d_imgWinterView && p.outsideViewEnabled && isWinter'>
        <img class="img-fluid rounded-corners" src={{p.d_imgSummerView}} *ngIf='p.d_imgSummerView && p.outsideViewEnabled && !isWinter'>
        <h4 class="mt-4">{{p.title}}</h4>
        <p>{{p.comment}}</p>
        <p>
          <a class="btn btn-outline-secondary" (click)='toggleVue(i)' role="button" *ngIf="p.w_imgSummerView || p.w_imgWinterView">{{p.outsideViewEnabled?datas.btnFF:datas.btnOF}}</a>
        </p>
        <p>
          <a class="btn btn-outline-secondary" (click)='toggleVue(i)' role="button" *ngIf="p.d_imgSummerView || p.d_imgWinterView">{{p.outsideViewEnabled?datas.btnFP:datas.btnOP}}</a>
        </p>
      </div>
    </div>
  </div>
</section>
