<section class="gite-gallery sc-gallery text-center">
  <div class="container-fluid gallery">
    <h2>Le séjour et la cuisine</h2>
    <p class="lead">
      Composé d’un large espace cuisine et d’un salon spacieux, le séjour est la plus grande pièce du gîte :<br /> Il est équipé d'un canapé-lit et d'un poële à bois.
    </p>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-gallery">
        <img class="img-fluid rounded-corners" src="assets/images/gite/sejour-cuisine/05260031.jpg">
        <h4 class="mt-4">La cuisine vue du séjour</h4>
        <p>
          Une table pour 6 personnes et même plus, ...
        </p>
        <p>
          <a class="btn btn-outline-secondary" href="#" role="button">More details</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-gallery">
        <img class="img-fluid rounded-corners" src="assets/images/gite/sejour-cuisine/06120024.jpg">
        <h4 class="mt-4">Le séjour vu de la cuisine</h4>
        <p>
          à droite le poële
        </p>
        <p>
          <a class="btn btn-outline-secondary" href="#" role="button">More details</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-gallery">
        <img class="img-fluid rounded-corners" src="assets/images/gite/sejour-cuisine/05260033.jpg">
        <h4 class="mt-4">Un grand séjour</h4>
        <p>
          1 canapé lit optionnel et deux fauteuils
        </p>
        <p>
          <a class="btn btn-outline-secondary" href="#" role="button">ouvrir la fenêtre</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-gallery">
        <img class="img-fluid rounded-corners" src="assets/images/gite/sejour-cuisine/06120027.jpg">
        <h4 class="mt-4">Un grand séjour</h4>
        <p>
          bla bla
        </p>
        <p>
          <a class="btn btn-outline-secondary" href="#" role="button">More details</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-gallery">
        <img class="img-fluid rounded-corners" src="assets/images/gite/sejour-cuisine/06120028.jpg">
        <h4 class="mt-4">Un grand séjour</h4>
        <p>
          bla bla
        </p>
        <p>
          <a class="btn btn-outline-secondary" href="#" role="button">More details</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-gallery">
        <img class="img-fluid rounded-corners" src="assets/images/gite/sejour-cuisine/06120025.jpg">
        <h4 class="mt-4">la cuisine</h4>
        <p>
          des rangements du 18ème siècle sont intégrés dans les murs
        </p>
        <p>
          <a class="btn btn-outline-secondary" href="#" role="button">More details</a>
        </p>
      </div>
    </div>
  </div>
</section>
