<ngb-carousel class="home-carousel">
  <ng-template ngbSlide>
    <!-- NOTE: class="d-block w-100" debug rajouté par Corentin pour carrousel responsive BS4 -->
    <img class="d-block w-100" src="assets/images/home/pano-hiver.jpg" alt="premier slide">
    <div class="carousel-caption d-none d-sm-block">
      <h3 class="rounded d-inline-flex p-2">Massif des Bauges - Savoie</h3>
      <div>
        <span>Suivez la flèche pour trouver le gîte</span>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100" src="assets/images/home/pano-ete.jpg" alt="deuxième slide">
    <div class="carousel-caption d-none d-sm-block">
      <h3 class="rounded d-inline-flex p-2">Massif des Bauges - Savoie</h3>
      <div>
        <span>Suivez la flèche pour trouver le gîte</span>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
