<section class="gite-gallery text-center">
  <div class="container-fluid gallery">
    <h2>{{datas.title}}</h2>
    <p class="lead" [innerHTML]="datas.srt"></p>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-gallery mx-auto" *ngFor="let p of pictures;let i = index">
        <img *ngIf='!p.outsideViewEnabled'
             class="img-fluid rounded-corners"
             src={{p.img}}>
        <img *ngIf='p.d_imgWinterView && p.outsideViewEnabled && isWinter'
             class="img-fluid rounded-corners"
             src={{p.d_imgWinterView}}>
        <img *ngIf='p.d_imgSummerView && p.outsideViewEnabled && !isWinter'
             class="img-fluid rounded-corners"
             src={{p.d_imgSummerView}}>
        <h4 class="mt-4">{{p.title}}</h4>
        <p>{{p.comment}}</p>
        <p>
          <a *ngIf="p.d_imgSummerView || p.d_imgWinterView"
             class="btn btn-outline-secondary"
             (click)='toggleVue(i)'
             role="button"
             angulartics2On="click"
             angularticsCategory="outsideView"
             angularticsAction="{{p.outsideViewEnabled?'open':'close'}}"
             [angularticsProperties]="{label:'from gite/chbE'}">
            {{p.outsideViewEnabled ? datas.btnFP : datas.btnOP}}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
