<section class="home-gallery text-center">
  <div class="container-fluid gallery">
    <h2>{{datas.title}}</h2>
    <p class="lead" [innerHTML]="datas.srt"></p>
    <div class="grid mt-5">
      <div class="cell" *ngFor="let p of pictures; let i = index">
        <img class="img-fluid rounded-corners" src={{p.img}} *ngIf='!p.imgWinterView ||(p.imgWinterView && !isWinter)'>
        <img class="img-fluid rounded-corners" src={{p.imgWinterView}} *ngIf='p.imgWinterView && isWinter'>
      </div>
    </div>
    <a class="btn btn-outline-secondary" [routerLink]="['/gite']" role="button">{{datas.btnVoirPlus}}</a>
  </div>
</section>
