<section class="gite-gallery text-center">
  <div class="container-fluid gallery">
    <h2>La chambre parents</h2>
    <p class="lead">
      Orientée nord-est et ensoleillée le matin, elle offre une vue sur le roc des Boeufs qui domine le lac d'Annecy et Bellecombe chef-lieu à 1km.
    </p>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-gallery" *ngFor="let p of pictures;let i = index">
        <img class="img-fluid rounded-corners" src={{p.img}} *ngIf='!p.outsideViewEnabled'>
        <img class="img-fluid rounded-corners" src={{p.w_imgWinterView}} *ngIf='p.w_imgWinterView && p.outsideViewEnabled && isWinter'>
        <img class="img-fluid rounded-corners" src={{p.w_imgSummerView}} *ngIf='p.w_imgSummerView && p.outsideViewEnabled && !isWinter'>
        <h4 class="mt-4">{{p.title}}</h4>
        <p>{{p.comment}}</p>
        <p>
          <a class="btn btn-outline-secondary" (click)='toggleVue(i)' role="button" *ngIf="p.w_imgSummerView || p.w_imgWinterView">{{p.outsideViewEnabled?"Fermer la fenêtre":"Ouvrir la fenêtre"}}</a>
        </p>
      </div>
    </div>
  </div>
</section>
