<section class="dates-tarifs text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{{datas.title}}</h2>
        <p class="lead mt-3">{{datas.baseline}}</p>
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fa fa-2x fa-eur" aria-hidden="true">
          </em>
        </div>
        <!-- NOTE: datas.pricing?.pList ? because pricing undefined (http call is asynchronous)
      I could use | async pipe too -->
        <h4 *ngFor="let p of datas.pricing?.pList ">{{p.p}}</h4>
        <p>{{datas.pricing?.text1}}</p>
      </div>
      <div class="col-md-6 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fa fa-2x fa-calendar" aria-hidden="true">
          </em>
        </div>
        <h4>{{datas.availability?.text}}</h4>
        <ul>
          <li *ngFor="let a of availability">
            {{a.rented}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <ngbd-modal1></ngbd-modal1>
    </div>
  </div>
</section>
