<!-- MODAL WINDOW -->
<ng-template #seasonChoice let-c="close">
  <div class="season-choice-header">
    <h4 class="modal-title">{{datas?.modalSeason.title}}</h4>
  </div>
  <div class="modal-body season-choice-body">
    <p>{{datas?.modalSeason.baseline}}</p>
    <button *ngFor="let s of seasons; let i = index" type="button" class="btn btn-lg btn-outline-primary" (click)="c(s.name)" angulartics2On="click" angularticsCategory="seasonChoice" angularticsEvent="{{i==0?'summer':'winter'}}" [angularticsProperties]="{label:'from seasonModal'}">
       <em class="fa fa-2x fa-leaf" aria-hidden="true" *ngIf='i==0'></em>
       <em class="fa fa-2x fa-snowflake-o" aria-hidden="true" *ngIf='i==1'></em>
       {{datas?.modalSeason.service[i].name}}
     </button>
  </div>
</ng-template>

<ng-template #contact let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title mx-auto">{{datas?.modalContact.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body contact-body">
    <p [innerHTML]="datas?.modalContact.txt"></p>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <p>
          <em class="fa fa-2x fa-phone " aria-hidden="true"></em>{{datas?.modalContact.tel1}}
        </p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <p>
          <em class="fa fa-2x fa-mobile" aria-hidden="true"></em>{{datas?.modalContact.tel2}}<br><br>
        </p>
      </div>
    </div>
    <a angulartics2On="click" angularticsCategory="contact" angularticsEvent="startTypingMsge" [angularticsProperties]="{label:'from contactModal'}" href="mailto:{{datas?.modalContact.mailAdress}}?subject={{datas?.modalContact.mailSubject}}"><em class='fa fa-2x fa-envelope-o' aria-hidden='true'></em>{{datas?.modalContact.mailAdress}}</a>
  </div>
</ng-template>

<!-- NAVIGATION -->
<!-- TODO: navbarcollapse animé -->
<!-- NOTE: fixed-top (pas de décalage en burger menu) vs sticky-top (fixed-top + décalage // sticky-top pas supporté ds tous les browsers) -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
  <span class="h1" class="navbar-brand navbar-brand-custom">{{datas?.appTitle | uppercase}}</span>

  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navGite" aria-controls="navGite" (click)="navbarCollapsed = !navbarCollapsed " aria-expanded="!navbarCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navGite">
    <ul class="navbar-nav ml-xl-5 pl-xl-5 ml-lg-0 pl-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" (click)="navbarCollapsed = true" role="button" angulartics2On="click" angularticsCategory="nav" angularticsEvent="openHome" [angularticsProperties]="{label:'from nav'}"><em class="fa fa-fw fa-home" aria-hidden="true" ></em>{{datas?.nav[0].item | uppercase}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gite']" routerLinkActive="active" (click)="navbarCollapsed = true" role="button" angulartics2On="click" angularticsCategory="nav" angularticsEvent="openGite" [angularticsProperties]="{label:'from nav'}"><em class="fa fa-fw fa-bed" aria-hidden="true" ></em>{{datas?.nav[1].item | uppercase}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/acces']" routerLinkActive="active" (click)="navbarCollapsed = true" role="button" angulartics2On="click" angularticsCategory="nav" angularticsEvent="openAcces" [angularticsProperties]="{label:'from nav'}"><em class="fa fa-fw fa-map-marker" aria-hidden="true" ></em>{{datas?.nav[2].item | uppercase}}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-xl-5 ml-lg-0 pl-lg-0">
      <li class="nav-item">
        <!-- NOTE: [routerLink]="" allows to show handcursor -->
        <a class="nav-link" (click)="setSeason();navbarCollapsed = true" [routerLink]="" role="button" *ngIf='isSeasonChoosen' angulartics2On="click" angularticsCategory="seasonChoice" angularticsEvent="openModalWithClick" [angularticsProperties]="{label:'from nav'}"><em class="fa fa-fw fa-leaf" aria-hidden="true" *ngIf='!isWinter'></em><em class="fa fa-fw fa-snowflake-o" aria-hidden="true" *ngIf='isWinter'></em>{{datas?.nav[3].item | uppercase}}</a>
      </li>
      <li class="nav-item">
        <ngbd-modal2 (click)="navbarCollapsed = true"></ngbd-modal2>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
