<!-- MODAL WINDOW -->
<ng-template #seasonChoice let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Choix visuel de la saison ?</h4>
  </div>
  <div class="modal-body">
    <p>Vous pouvez choisir ici de voir des paysages enneigés ou de vertes prairies</p>
  </div>
  <div class="modal-footer">
    <button *ngFor="let s of seasons; let i = index" type="button" class="btn btn-outline-dark" (click)="c(s.name)">{{s.name}}</button>
  </div>
</ng-template>


<ng-template #contact let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Pour nous contacter</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Le gîte du bout de route<br>
      Broissieux - 73340 BELLECOMBE EN BAUGES<br>
      Massif des Bauges - Savoie - Alpes - France<br>
      Tel. : 33(0)4 79 63 38 06<br>
      Mob. : 06 75 09 94 59<br>
      Email : <a href="mailto:contact@auboutdelaroute.com?subject=Contact depuis auboutdelaroute.com">contact@auboutdelaroute.com</a>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
  </div>
</ng-template>

<!-- NAVIGATION -->
<!-- TODO: navbarcollapse animé -->
<!-- NOTE: fixed-top (pas de décalage en burger menu) vs sticky-top (fixed-top + décalage // sticky-top pas supporté ds tous les browsers) -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand navbar-brand-custom" [routerLink]="['/home']" (click)="navbarCollapsed = true">LE GÎTE DU BOUT DE LA ROUTE</a>

  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navGite" aria-controls="navGite" (click)="navbarCollapsed = !navbarCollapsed " aria-expanded="!navbarCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navGite">
    <!--<ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" (click)="navbarCollapsed = true">ACCUEIL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gite']" routerLinkActive="active"  (click)="navbarCollapsed = true">LE GÎTE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/acces']" routerLinkActive="active" (click)="navbarCollapsed = true">LOCALISATION & ACCÈS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="setSeason()">saisons</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#" (click)="navbarCollapsed = true">CONTACT</a>-->
        <ngbd-modal2 ></ngbd-modal2>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
