<section class="resume text-center">
  <div class="container-fluid ">
    <h2>{{datas.title}}</h2>
    <p class="lead">
      {{datas.baseline}}
    </p>
    <div class="divider"></div>
    <div class="row spaced">
      <div class="col-md-4 col-sm-12" *ngFor="let n of datas.nfos?.level1">
        <h1>{{n.number}}</h1>
        <h4>{{n.srt}}</h4>
        <p [innerHTML]="n.txt"></p>
        <!-- NOTE:  Problème <br> pas pris en compte
        This is frowned upon though due to the evident security flaws
        or see https://angular.io/guide/security#sanitization-and-security-contexts
        <p>{{n.txt}}</p>
        vs
        <p [innerHTML]="n.txt"></p>
      -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <em class="fa fa-2x fa-wifi" aria-hidden="true"></em>
        <p>{{datas.nfos?.level2[0].txt}}</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <em class="fa fa-2x fa-bath" aria-hidden="true"></em>
        <p>{{datas.nfos?.level2[1].txt}}</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <em class="fa fa-2x fa-child" aria-hidden="true"></em>
        <p>{{datas.nfos?.level2[2].txt}}</p>
      </div>
      <div class="col-md-2 col-sm-6">
        <em class="fa fa-2x fa-bed" aria-hidden="true"></em>
        <p>{{datas.nfos?.level2[3].txt}}</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <em class="fa fa-2x fa-paw" aria-hidden="true"></em>
        <p>{{datas.nfos?.level2[4].txt}}</p>
      </div>
    </div>
    <div class="spaced">
      <a class="btn btn-outline-secondary" role="button" (click)='toggleList()'>{{showList?datas.btnOn:datas.btnOff}}</a>
    </div>
  </div>
  <!-- affichage optionnel - Liste complète des équipements -->
  <div class="container-fluid equipments" *ngIf='showList'>
    <div class="container">
      <div class="row text-left">
        <div class="col-sm-12 col-md-4 col-gallery">
          <div class="box">
            <img class="img-fluid rounded-corners" src={{datas.cuisineList?.img}}>
            <h5 class="mt-4 ml-4 mr-4">{{datas.cuisineList?.title}}</h5>
            <p class="ml-4 mr-4" [innerHTML]="datas.cuisineList?.text1"></p>
            <p class="emphasis ml-4 mr-4">{{datas.cuisineList?.emph2}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.cuisineList?.text2"></p>
            <p class="emphasis ml-4 mr-4">{{datas.cuisineList?.emph3}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.cuisineList?.text3"></p>
            <p class="emphasis ml-4 mr-4">{{datas.cuisineList?.emph4}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.cuisineList?.text4"></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-gallery">
          <div class="box">
            <img class="img-fluid rounded-corners" src={{datas.literieList?.img}}>
            <h5 class="mt-4 ml-4 mr-4">{{datas.literieList?.title}}</h5>
            <p class="emphasis ml-4 mr-4">{{datas.literieList?.emph1}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.literieList?.text1"></p>
            <p class="emphasis ml-4 mr-4">{{datas.literieList?.emph2}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.literieList?.text2"></p>
            <p class="emphasis ml-4 mr-4">{{datas.literieList?.emph3}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.literieList?.text3"></p>
            <p class="emphasis ml-4 mr-4">{{datas.literieList?.emph4}}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-gallery">
          <div class="box">
            <img class="img-fluid rounded-corners" src={{datas.diversList?.img}}>
            <h5 class="mt-4 ml-4 mr-4">{{datas.diversList?.title}}</h5>
            <p class="ml-4 mr-4" [innerHTML]="datas.diversList?.text1"></p>
            <p class="emphasis ml-4 mr-4">{{datas.diversList?.emph2}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.diversList?.text2"></p>
            <p class="emphasis ml-4 mr-4">{{datas.diversList?.emph3}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.diversList?.text3"></p>
            <p class="emphasis ml-4 mr-4">{{datas.diversList?.emph4}}</p>
            <p class="ml-4 mr-4" [innerHTML]="datas.diversList?.text4"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
