body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color:#222;
  color: #46484a;
}

section {
  border: 20px solid #222;
  border-bottom: none;
  background-color: #ffffff;
}

.sc-gallery, .localisation {
  border-top: none;
}

nav, ngb-carousel, .panoramic {
  border: 20px solid #222;
  border-top: none;
  border-bottom: none;
}
.nav-item em{
  padding-right:5px;
}

/* fix */
.nav-item .fa-bed{
  margin-right:4px;
}

.navbar-brand-custom {
  font-size: 16px;
}

a {
  color: #249300;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: #696b6e;
  font-size: .9rem;
}

/*--------------- UTILS -----------------------*/

.rounded-corners {
  border-radius: .3rem;
}

.divider {
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: #dfe1e5;
  margin: 2rem auto;
}

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-primary, .btn-outline-secondary {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem;
  border-width: 0.15rem;
}

.btn-outline-primary, .btn-outline-primary:visited {
  color: #249300;
  border-color: #249300;
  background: none;
}

.btn-outline-primary.focus,.btn-outline-primary:focus {
 box-shadow:none;
}

.btn-outline-primary:hover, .btn-outline-primary:focus.btn-outline-primary.active,.btn-outline-primary:active,.show>.btn-outline-primary.dropdown-toggle {
  background-color: #249300;
  border-color: #249300;
  color: #fff;
}

.btn-outline-secondary, .btn-outline-secondary:visited {
  color: #696b6e;
  border-color: #696b6e;
  background: none;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  border-color: #696b6e;
  background: #696b6e;
  color: #fff !important;
}

/*--------------- @COMPONENTS -----------------------*/

/*  NAVBAR ---------------------------------------*/

/* burger color */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(36,147,0,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* MODAL POPUP ---------------------------------------*/
.modal {
    top:20%;
}

.season-choice-header {
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
  text-align: center;
}

 .season-choice-body {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.contact-header {
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
  text-align: center;
}

.contact-body {
 text-align: center;
 padding-left: 13%;
 padding-right: 13%;
}

.contact-body a{

  color: rgb(70, 72, 74);
  font-size: .9rem;
}

.modal-body .btn{
  margin:12px;
}

.modal-body em{
  padding-right:8px;
}

/*  GALLERY ---------------------------------------*/
.gallery {
  padding: 5rem 0;
}

.gallery .col-gallery {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gallery .col-gallery img {
  width: 100%;
}

.gallery h2 {
  color: #46484a;
  margin-bottom: 8px;
}

.gallery h3 {
  font-size: 1.2rem;
  line-height: 1.15;
}

.gallery h4 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

/*--------------- HOME -----------------------*/
/* panoramic */
.card{
  border : 0;
}

 .card-img-overlay {
   position:absolute;
   padding: 0rem;
   padding-top: 22%;
}

.card-img {
  border-radius: 0;
}

.panoramic h3 {
  font-size: 35px;
  color: #FFF;
  background-color: rgb(0, 0, 0);
  /* old browsers */
  background-color: rgba(0, 0, 0, 0.5);
  /* recent browsers */
  margin-bottom: 0;
}

.panoramic span {
  font-size: 13px;
  color: #FFF;
  background-color: rgb(0, 0, 0);
  /* old browsers */
  background-color: rgba(0, 0, 0, 0.4);
  /* recent browsers */
}

/*carousel*/

.home-carousel h3 {
  font-size: 35px;
  background-color: rgb(0, 0, 0);
  /* old browsers */
  background-color: rgba(0, 0, 0, 0.5);
  /* recent browsers */
  font-family: Noto, sans-serif;
  margin-bottom: 0px;
}

.home-carousel span {
  font-size: 13px;
  color: #FFF;
  background-color: rgb(0, 0, 0);
  /* old browsers */
  background-color: rgba(0, 0, 0, 0.4);
  /* recent browsers */
  font-family: Noto, sans-serif;
}


/* gallery home */

.home-gallery .container-fluid {
  width: 80%;
}

.cell img {
  display: block;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 3rem;
}

.cell {
  width: calc(100% / 4);
  margin: .5rem;
  width: calc(25% - 1rem);
}

/* infos-pratiques home*/

.resume {
  padding: 5rem 0 0 0;
}

.resume .container-fluid {
  width: 80%;
}

.resume h1 {
  color: #249300;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.resume h2 {
  color: #46484a;
  margin-bottom: 8px;
}

.resume .row {
  padding-top: 3rem;
}

.resume .spaced {
  padding-bottom: 2rem;
  padding-top: 3rem;
}

/* equipments extension */

.emphasis {
  font-family: Georgia, Times, 'Times New Roman';
  font-style: italic;
  color: #59d773;
  margin-bottom: .1em;
}

.equipments p {
  margin-bottom: .5em;
}

.resume .equipments {
  width: 100%;
  padding-bottom: 5em;
  margin-top: -2em;
}

.equipments .row {
  padding-top: 0;
}

.equipments {
background: #f7f7f8;
}

.equipments .box {
  background: #fff;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
  padding: 0rem;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
  border-radius: .3rem;
}

.equipments .col-gallery {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.equipments .col-gallery img {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


/* dates et tarifs */

.dates-tarifs {
  background: #2b2d34;
  padding: 5rem 0;
}

.dates-tarifs h2 {
  /*
  margin-top: 2rem;*/
  color: #fff;
}

.dates-tarifs p.lead {
  color: #a0a0a0;
}

.dates-tarifs .col-feature {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.dates-tarifs .col-feature h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.dates-tarifs .col-feature ul {
  padding: 0px;
}

.dates-tarifs .col-feature li,.dates-tarifs .col-feature p{
  color: #a0a0a0;
  font-size: .9rem;
  line-height: 1.15;
  list-style-type:none;
}

.dates-tarifs .col-feature .rounded-circle {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 6rem;
  height: 6rem;
  background: none;
  border: 0.15rem solid #696b6e;
  color: #fff;
}

.dates-tarifs .btn-outline-primary em{
  padding-right:15px;
}


/*--------------- GITE -----------------------*/

.gite-gallery .container-fluid {
  width: 80%;
}


/*--------------- LOCALISATION & ACCES -----------------------*/


/* cover */

.acces .container-fluid {
  padding: 0rem;
  padding-top: 5rem;
}
.acces .container-fluid p {
  width: 80%;
}

.acces p.lead em{
  padding-right:30px;
}

.loc-item1 {
  background: right;
  background-image: url(/assets/images/acces/vierge2.jpg);
  /*url(assets/images/acces/vierge2.jpg); duplicate the file with ng build --prod*/
  height: 600px;
  background-size: cover;
  /*min-height: 10rem;*/
}

.loc-item2 {
  background: right;
  background-image: url(/assets/images/acces/acces2.jpg);
  height: 400px;
  background-size: cover;
  min-height: 15rem;
}

.loc-item3 {
  background: center;
  background-image: url(/assets/images/acces/acces1.jpg);
  height: 400px;
  background-size: cover;
  min-height: 15rem;
}

.constrain-width {
  max-width: 100rem;
  margin: 0 auto;
}

/* angular google map + snazzy info window */

agm-map {
  height: 700px;
}

.map {
  margin-top: 48px;
}


/* TODO: @include media-breakpoint-down(lg) ne marche pas dans bootstrap beta*/

@media screen and (max-width:1024px) {
  .navbar-brand-custom {
    font-size: 16px;
  }
}


@media screen and (max-width: 992px) {
  .cell {
    width: 33.333%;
    width: calc(33.333% - 1rem);
  }
}

@media screen and (max-width:880px) {
  .panoramic h3 {
    font-size: 20px;
  }
  .card-img-overlay {
    padding-top: 22%;
  }

  .home-carousel h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cell {
    width: 50%;
    width: calc(50% - 1rem);
  }
}

@media screen and (max-width:576px) {

  .panoramic h3 {
    font-size: 15px;
  }
  .card-img-overlay {
    padding-top: 22%;
  }

  section {
    border-left: 2px solid #222;
    border-right: 2px solid #222;
  }
  nav, ngb-carousel, .panoramic {
    border-left: 2px solid #222;
    border-right: 2px solid #222;
  }

  .loc-item1 {
    height: 150px;
  }
  .loc-item2 {
    height: 200px;
  }
  .loc-item3 {
    height: 150px;
  }

  .home-carousel h3 {
    font-size: 10px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  .resume .container-fluid {
    width: 100%;
  }

  .container-fluid .row{
    padding: 0px;
  }

  .gallery, .dates-tarifs,.acces .container-fluid {
    padding: 2rem 0;
  }

  .resume {
    padding: 2rem 0 0 0;
  }


  .gallery p, .resume .container-fluid p.lead, .dates-tarifs p,.acces .container-fluid p {
  font-size: 1.1rem;
  line-height: 1.15;
  }

  .resume .equipments {
    width: 100%;
    padding-bottom: 2em;
    margin-top: -2.5em;
  }

  .resume .spaced {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .grid {
    padding-bottom: 1rem;
  }
}
