<section class="panoramic">
  <div class="card">
    <img class="card-img" src="/assets/images/home/pano-ete-w1920.jpg" *ngIf='!isWinter'alt="Card image">
    <img class="card-img" src="/assets/images/home/pano-hiver-w1920.jpg" *ngIf='isWinter'alt="Card image">
    <div class="card-img-overlay text-center">
      <h3 class="rounded d-inline-flex p-2">{{datas.title}}</h3>
      <div class="d-none d-sm-block d-xs-none">
        <span>{{datas.srt}}</span>
      </div>
    </div>
  </div>
</section>
